* {
    box-sizing: border-box;
}

#om,
#bookbord,
#billeder,
#kontakt,
#priser {
    box-sizing: border-box;
}


/* hej */

body {
    margin: 0;
    background-image: url(baggrund.jpeg);
    background-size: cover;
    color: white;
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
}


/* *** MENU start *** */

header {
    position: fixed;
    /*ligger fast på skærmen */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.) 0%, rgba(0, 0, 0, 0) 100%);
    width: 100vw;
    /* så den fylder hele linjen */
    padding: 1em;
    /*så den ikke ligger så højt */
}

header nav {
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    margin: 0 0 0 0;
    /* dette betyder jeg har sat 5 vw ind til højre, men ikke ændret margin de andre steder */
}

header nav a {
    text-decoration: none;
    /*fjerner stregen under links */
    color: darkblue;
    /* 'cmd e' får jeg en boks op, og kan derved vælge en anden farve */
    padding-left: 9px;
    /*skubber linksene fra hinanden */
    display: block;
}

header nav a:hover {
    color: #b1cccb;
    /*brug pseudo-classes til at markerer et link når musen er over */
}

header nav img {
    margin: 0 0 0 0;
}

@media screen and (min-width: 606px) {
    header nav a {
        display: inline-block;
    }
}


/* *** MENU slut *** */


/* *** SPLASH start *** */


/* IKON */

#splash .ikon {
    box-sizing: content-box;
    padding: 10px;
    width: 20vw;
}

#splash .ikon img {
    width: 100%;
}


/* *** SPLASH slut *** */


/* *** index.html start * ***/

#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 25vw;
    text-align: justify;
}


/* *** index.html slut * ***/


/* *** Priser start *** */

#priser .top {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 10vw 0px 20vw;
}

#priser .bottom {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 30vw 0px 30vw;
}


/* *** Priser slut *** */


/* *** Book bord start *** */

#bookbord .sectionwrapper {
    display: flex;
    flex-direction: column;
    margin: 0px 30px 0px 30px;
}

#bookbord .column {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0px 10px 0px;
    box-sizing: border-box;
}

#bookbord .content_top {
    display: flex;
    flex-direction: row;
    margin: 0px 30px 0px 30px;
}

.text_top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
}

.text_bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}

.text_top label {
    width: 85px;
}

.text_bottom label {
    width: 85px;
}

#bookbord .content_bottom form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 35%;
}

#fname_big {
    margin: 0px;
    width: 100%;
    height: 136px;
    align-self: center;
}


/* *** Book bord slut *** */


/* *** Billeder start *** */


/* *** Billeder slut *** */


/* *** Kontakt start *** */

#kontakt .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 50px 0px 50px;
}

#map {
    width: 100%;
    height: 400px;
}


/* *** Kontakt slut *** */


/* *** FOOTER start * ***/

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


/* *** FOOTER slut * ***/
